* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* banner style starts */
.banner-container {
    background-image: url(images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    position: relative;

}

.banner-title {
    position: absolute;
    margin-top: 200px;
    margin-left: 800px;

}


.hline {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding-right: 200px;
    margin-bottom: 20px;

}

.banner-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 200px;
    padding-left: 50px;
    margin-bottom: 20px
}

.button-one {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background: #F15B22;
    margin-left: 365px;

}


/* Body designes */

.body-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;

}

.body-img {
    width: 527.929px;
    height: 527.929px;
    border-radius: 527.929px;
    background: rgba(241, 91, 34, 0.20);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    margin-top: 330px;
    margin-left: 200px;

}

.image-female {
    margin-top: -196px;
    margin-left: -24px;
}

.body-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;

}

.body-para {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 300px 20px 0px;
}

.icon-list {
    list-style: none;
}

ul li i {
    color: #16D887;
    padding: 10PX 5px 10px 0px;
}

.list-item {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* Body second part Design */
.icon-main-title {
    text-align: center;
    margin: 100px 0px 50px 0px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.icon-div {
    display: flex;
    justify-content: space-around;
    margin: 0px 200px;

}

.web {
    text-align: center;
    padding-bottom: 20px;
}

.img-icons {
    text-align: center;
}

.web-title {
    padding-bottom: 10px;
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

.web-detail {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
}

.call-now {
    background-image: url(images/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 120px 200px;
    border-radius: 8px;


}

.image-call-now-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    padding: 55px 50px 10px 65px;
}

.image-call-now {
    background-image: url(images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    1x
}

.call-now-btn {
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
    margin: 10px 65px 65px 65px;
}

/* footer part design  */
footer {
    display: flex;
    padding: 130px 150px 130PX 200PX;
    background-color: #151414;
    gap: 180px;

}

.footer-column {
    width: 50%;
}

.left-side-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    line-height: normal;

}

.left-side-para {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.left-side-info {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 20px;

}

.left-side-icons {
    padding-right: 10px;
    padding-bottom: 130px;
}


.right-side-title {
    color: #FFF;
    font-size: 25px;
    line-height: normal;
    padding-left: 10px;
    padding: 0px 200px 20px 50px;
}
.right-side-input{
  padding: 10px 30px 15px 50;  
}
.footer-input input {
    display: block;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 1px solid #FFF;
    padding: 20px 150px 20px 20px;
    background-color: #151414;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

}

.new-button {
    color: #F15B22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 35px;
    border-radius: 8px;
    background: #FFF;
}